body {
	font-family: 'Noticia Text', serif;
	background-color: #272B2E;
	color: #FFF;
}

#header{
	background-color:#3B4043;
}

#footer{
	background-color: #131517;
	padding-bottom: 10px;
}

#cross-bar, #footer-div{
	padding-top: 10px;
}

#typewriter-prefix {
	color: #CC6633;
}

.html {
	margin-top: -5%;
}
.hljs {
	background: #272B2E;
	color:#C8CDD0;
}

.hljs-title {
	color: #ACB3B8 !important;
}

.hljs-string, .hljs-value {
	color: #838D95 !important;
}

pre h4 {
	color: #FFF;
}
